.t_changesection{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(172, 43, 43);  */
}
.t_changebox{
    width: 700px;
    height: 680px;
    background-color: grey;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.t_changebtnbox{
    width: 95px;
    height: 320px;
    border-radius: 8px;
   background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.t_changebtn{
    background-color: white;
    width: 75px;
    height: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    border-radius: 3px;
    
    
}
.t_changebtnimg{
    transform: translateY(7px);
    height: 30px;
    width: 30px;
    background-size: cover;
}
.t_changebtnimg1{
    background-image: url(Frontside1.png);

}
.t_changebtnimg2{
    background-image: url(Leftside1.png);

}
.t_changebtnimg3{
    background-image: url(Backside1.png);

}
.t_changebtnimg4{
    background-image: url(Rightside1.png);

}
.t_changebtnpara{
    font-size: 13px;
}
.t_changebtn:hover{ 
    background-color: rgb(244, 244, 244);
    cursor: pointer;

}

/* images for main section */
.t_changeimage{
    width: 300px;
    height: 400px;
    /* background-color: aquamarine; */

}
.t_changeimg1{
    width: 370px;
    height: 500px;
    background-image: url(f.png);
    background-size: cover;
}
.t_changeimg2{
    width: 370px;
    height: 500px;
    background-image: url(L.png);
    background-size: cover;
    background-position: 0 -10px;
}
.t_changeimg3{
    width: 350px;
    height: 500px;
    background-image: url(M.png);
    background-size: cover;
   
}

.t_changeimg4{
    width: 350px;
    height: 500px;
    background-image: url(R.png);
    background-size: cover;     
    
}
#t_changeblock2{
    display: none;
}
#t_changeblock3{
    display: none;
}
#t_changeblock4{
    display: none;
}


/* price tag css */
/* .pricetagcontainer{
    width: 200px;
    height: 200px;
    background-color: grey;
    
} */

/* .pricetagbtn1box{
    background-color: rgb(230, 230, 230);
    width: 140px;
    height: 50px;
    border-radius: 10px;
    border: none;
    margin-bottom: 7px;
}
.pricetagbtn2box{
    background-color: rgb(230, 230, 230);
    width: 140px;
    height: 50px;
    border-radius: 10px;
    border: none;
    margin-bottom: 7px;
}
.pricetagbtn1heding{
    font-size: 17px;
    transform: translateY(-10px);
}
.pricetagbtn1para{
    transform: translateY(-22px);
    font-size: 11px;
} */

.pricetagbtn3box{
    width: 150px;
    height: 40px;
    background-color: #e08e4a;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.pricetagbtn3heading{
    color: aliceblue;

}
.pricetagbtn3box:hover{
    width:155px;
    height: 45px;
    font-size: 16px;
}

.s{
    background-color: rgb(46, 228, 176);
}